@model CastleWindsorTestApp.Models.Employee
@{
    Layout = null;
}

<div class="modal-header">
    <h4 style="text-align:center" class="modal-title">Edit Employee</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <form action="#">
        <div class="form-group row">
            @Html.HiddenFor(model => model.EmployeeId)
            <label class="col-sm-4 col-form-label" for="name"> Name</label>
            <div class="col-sm-6">
                @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @id = "name" } })
                @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-4 col-form-label" for="job"> Job</label>
            <div class="col-sm-6">
                @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control", @id = "job" } })
                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-4 col-form-label" for="salary"> Salary</label>
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", @id = "salary" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="salary"> Department</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.DepartmentId, @ViewBag.Departments as List<SelectListItem>, "-- Please select a department --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-outline-dark btn-sm-3">
        <i class="fa fa-close"></i>
        Close
    </button>
    <button id="SendForm" name="Update" class="btn btn-outline-primary btn-sm-3">
        <i class="fa fa-edit"></i>
        Update
    </button>
</div>